[VERSION]
major = 1
minor = 0

[VARIATION]
base_container = "..\HorizonSim_B787_10_GENX"

;===================== FLTSIM =====================

[FLTSIM.0]
title = "Boeing 787-10 (GE) Vietnam Airlines" ; Variation name
model = "\..\..\HorizonSim_B787_10_GENX\model" 
panel = "\..\..\HorizonSim_B787_10_GENX\panel.GE"
sound = "\..\..\HorizonSim_B787_10_GENX\sound" ; sound folder
texture = "A879" ; texture folder
ui_variation = "Vietnam Airlines" ; e.g. World Air, IFR Panel
atc_id = "VN-A879" ; tail number
atc_airline = "Vietnam Airlines" ; airline name
icao_airline = "HVN" ; airline icao code
isUserSelectable = 1 ; Is the plane selectable by the user